<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title>AngularJS</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
       <meta charset="utf-8">
      <script th:src="@{/custos.js}"></script>
     
      <link href="plugins/angular-material/angular-material.min.css" rel="stylesheet" />
    <!--CSS-->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/nga.all.min.css" rel="stylesheet" />
    <link href="css/themes.css" rel="stylesheet" />
    <link href="css/dashboard.css" rel="stylesheet" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="plugins/bootstrap-slider/slider.css" rel="stylesheet" />
    <link href="css/flexslider.css" rel="stylesheet" />
    <link href="plugins/owl-carousel/owl.theme.css" rel="stylesheet" />
    <link href="plugins/owl-carousel/owl.transitions.css" rel="stylesheet" />
    <link href="plugins/owl-carousel/owl.carousel.css" rel="stylesheet" />
       
      <head>
   <body ng-app="GerenciadorFinanceiroTransporteCarga" ng-controller="CustoTransporteCargaController">
   <div class="container margin-top-80">
    <div class="panel panel-info" style="min-height:453px;"> 
     <div class="panel-heading">Calular Custo de Carga Transportada</div>
    <!-- Main content -->
      <form ng-submit="submitDetalheTransporte()" class="ng-pristine ">
         <table class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2"   border="0">
            <tr>
               <td >Distância  em  rodovia  pavimentada</td>
               <td><input type="text" ng-model="detalheTransporteForm.distanciaRodoviaPavimentada" /></td>
            </tr>
            <tr>
               <td>Distância  em  rodovia  não-pavimentada</td>
               <td><input type="text" ng-model="detalheTransporteForm.distanciaRodoviaNaoPavimentada" /></td>
            </tr>
            <tr>
               <td>Veículo utilizado</td>
               <td>
               <select>
					<option ng-repeat="veiculo in veiculos" value="{{veiculo.nome}}">{{veiculo.nome}}</option>
			  </select>
               </td>
            </tr>
            <tr>
               <td>Carga  transportada</td>
               <td><input type="text"  ng-model="detalheTransporteForm.cargaTransportada"  /></td>
            </tr>
         </table>
          <br/>
         <br/>
       <table class="col-md-4 col-md-offset-5 col-sm-8 col-sm-offset-6"  border="0">
        <tr>
           <td>  <div class="col-md-4" align="center" >
                    <input type="submit" value="calcular" class="btn btn-block btn-success"/>
            </div></td>
        </tr>
     </table>
        
      </form>
      <br/>
      <br/>
     <table class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-6"  border="0">
        <tr>
           <td></td>
           <td>Custo {{valor}}</td>
        </tr>
     </table>
     </div></div>
   </body>
</html>